.header {
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*  */
    font-size: 1.5em;
    font-weight: bolder;
    /*  */
    background-color: #5faec5;
    color: #f3f3f1;
    /*  */
    padding-top: 2.5dvh;
    padding-bottom: 2.5dvh;
    padding: 0.5em;
}

.header > span {
    flex-grow: 2;
}

.header > button {
    margin: 0;
    background-color: #c89483;
}

body {
    /*  */
    margin: 0;
    /*  */
    background-color: #f3f3f1;
}

.main-content {
    text-align: center;
    margin-top: 30dvh;
}
